/* desktop */
@media (min-width: 768px) {
  .hotelsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 188px;
    
  }
  .headerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 43px;
    margin-bottom: 32px;

  }
  .headerBackSearchContainer {
    display: flex;
    flex-direction: row;
  }
  .headerSortFilter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sortButtonContainer{
    margin-right: 243px;
  }

  .hotelListContainer {
    display: flex;
    flex-direction: row;
  }
}

/* mobile */
@media (max-width: 767px) {
}
