/* desktop */
@media (min-width: 768px) {
  .container {
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-grow: 1;
    height: 100vh;
    background-color: white;
    color: black;
  }

  .searchContainer {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    /* sideBar width */
    margin-left: 200px;
    margin-top: 30px;
  }

  .searchbarContainer {
    margin-bottom: 30px;
  }

  .categoryButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 30px;
  }

  .categoryButton {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    color: grey;
  }
  .categoryButtonSelected {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
    color: black;
  }

  .categoryButtonIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #3835de;
  }

  .inputDate {
    width: 300px;
  }

  .hotelRecentSearchCard {
    display: flex;
  }

  .bookNowButton {
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  .imgContainer {
    flex: 5;
    overflow: auto;
    background: red;
  }
}

/* mobile */
@media (max-width: 767px) {
  .container {
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    flex-grow: 1;
    height: 100vh;
  }

  .searchContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .searchbarContainer {
    flex: 4;
  }

  .imgContainer {
    flex: 5;
    background-color: red;
  }
}
