/* desktop */
@media (min-width: 768px) {
  .container {
    display: flex;
    overflow: auto;
    flex-direction: row;
    flex-grow: 1;
    height: 100vh;
    background-color: white;
    color: black;
  }

  .searchContainer {
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: center;
    /* sideBar width */
    margin-left: 157px;
    margin-top: 43px;
  }

  .searchbarContainer {
    margin-bottom: 30px;
  }

  .categoryButtonContainer {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 30px;
  }

  .categoryButton {
    width: 58px;
    height: 85px;
    border: none;
    background: none;
    color: grey;
  }
  .categoryButtonSelected {
    width: 58px;
    height: 85px;
    border: none;
    background: none;
    color: black;
  }

  .categoryButtonIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    border-radius: 100%;
    background: #2d3ddf;
  }

  .armeIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
  }

  .inputLocation {
    width: 692px;
    height: 62px;
    margin-bottom: 14px;
    border: 1px solid #2d3ddf;
    border-radius: 4px;
    color: black;
    background-color: white;
  }

  .inputStartDate {
    width: 346px;
    height: 62px;
    margin-bottom: 14px;
    border: 1px solid #bec3ff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #f2f3ff;
    color: black;
  }
  .inputEndDate {
    width: 346px;
    height: 62px;
    margin-bottom: 14px;
    border: 1px solid #bec3ff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #f2f3ff;
    color: black;
  }
  .inputPeople {
    width: 692px;
    height: 62px;
    margin-bottom: 32px;
    border: 1px solid #bec3ff;
    border-radius: 8px;
    background-color: #f2f3ff;
  }

  .searchButton {
    width: 256px;
    height: 68px;
    border: 1px solid #2d3ddf;
    margin-bottom: 42px;
    color: #ffffff;
    font-size: 22px;
    font-family: poppins;
    font-weight: 500;
    line-height: 100%;

    background-color: #2d3ddf;
  }

  .hotelRecentSearchCard {
    display: flex;
    width: 692.39px;
    height: 173x;
  }

  .bookNowButton {
    width: 64px;
    height: 173px;
    transform-origin: 0 0;
    transform: rotate(90deg);
  }

  .imgContainer {
    flex: 5;
    /* overflow: auto; */
  }

  .takeTourButton {
    width: 179px;
    height: 64px;
    border: 10px solid #ffffff59 35%;
  }
}

/* mobile */
@media (max-width: 767px) {
  .container {
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
    flex-grow: 1;
    height: 100vh;
  }

  .searchContainer {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .searchbarContainer {
    flex: 4;
  }

  .imgContainer {
    flex: 5;
    background-color: red;
  }
}
