.searchBar {
    /* width: 700px; */
    width: 100%;
    height: 56px;
    color: black;
    background-color: #EBEDFF;
    border: none;
    border-radius: 8px;
}
.searchBar::placeholder {
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
}