/* desktop */
@media (min-width: 768px) {
  .sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 72px;
    height: 1080px;
    width: 157px;
    background-color: #2D3DDF;
    /* overflow-x: hidden; */
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
  }
  .sidebarButton {
    width: 68px;
    height: 68px;
    border: none;
    background: none;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    color: white;
  }
  .sidebarButtonSelected {
    width: 68px;
    height: 68px;
    border: none;
    border-radius: 100%;
    background: #efeeee;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    color: #3835de;
  }
  .sidebarButton:hover {
    cursor: pointer;
  }
  .sidebarButtonSelected:hover {
    cursor: pointer;
  }
}

/* mobile */
@media (max-width: 767px) {
  .sidebar {
    display: flex;
    position: fixed;
    justify-content: center;
    gap: 10px;
    height: 100px;
    width: 100%;
    background-color: #2D3DDF;
    overflow-x: hidden;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    bottom: 0;
    left: 0;
  }
  .sidebarButton {
    width: 50px;
    height: 50px;
    border: none;
    background: none;
  }
  .sidebarButtonSelected {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background: white;
    color: #3835de;
  }
}
